.basketButton {
    z-index: 10000000;
    background-color: greenyellow;
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 20%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    position: relative;
    width: 16%;
    margin-right: 2%;
    margin-right: 2%;
}

.productImage {
    width: 100%;
    /* Set the width to 100% to ensure it doesn't exceed the container */
    height: auto;
}

.price {
    text-align: center;
}

.bsktBtnImg {
    width: 90%; /* Adjust the width as needed */
    height: auto;
}